*.pyc
ansible_test_cases
.vim/local
.vim/bin
.vim/include
.vim/lib
.vim/sessions/
.vim/.installed.cfg
.vim/.mr.developer.cfg
.vim/dl
.vim/.vim
!.vim/pathogen
.vim/bin
.vim/parts
.vim/eggs
.vim/dl
.netrwhist
tags
ctags_tagfiles/.*
GetLatest/.*vba
GetLatest/.*tar
GetLatest/.*z
t
CVIMSYN/
toto.pt
backups
/.vim/venv
*retry
.directory
#

*.egg-info
venv3
